openapi: 3.0.3
info:
  version: 5.4.1
  title: Pinterest REST API
  description: Pinterest's REST API
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
    email: pinterest-api@pinterest.com
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
externalDocs:
  description: Pinterest developer documentation main page
  url: https://developers.pinterest.com/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: ad_accounts
  description: |-
    View analytical information about advertising.


    Note: If the current operation_user_account (defined by the access token)
    has access to another user's Ad Accounts via
    <a href='/docs/api/v5/#tag/Understanding-business-access'>Pinterest Business Access</a>,
    you can modify your request to use the current operation_user_account's
    permissions to those Ad Accounts by including the ad_account_id in the path
    parameters for the request (e.g. .../?ad_account_id=12345&...).
- name: ad_groups
  description: View, create or update ad groups.
- name: ads
  description: View, create or update ads.
- name: boards
  description: View, create, update, or delete information about boards.
- name: campaigns
  description: View, create or update campaigns.
- name: catalogs
  description: Manage information about shopping product catalogs and items.
- name: media
  description: Register and manage media uploads.
- name: oauth
  description: Generating and refreshing OAuth access tokens.
- name: pins
  description: View, create, update, or delete information about Pins.
- name: product_group_promotions
  description: Product Group Promotion
- name: terms
  description: Get related and suggested terms.
- name: terms_of_service
  description: Get Terms Of Service
- name: user_account
  description: Read-only information about user accounts associated with a given access
    token.
paths:
  /oauth/token:
    post:
      summary: Generate OAuth access token
      description: |-
        Generate an OAuth access token by using an authorization code or a refresh token.

        See <a href='/docs/api/v5/#tag/Authentication'>Authentication</a> for more.
      tags:
      - oauth
      operationId: oauth/token
      security:
      - {}
      x-ratelimit-category: org_read
      requestBody:
        description: Generate an OAuth access token.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthAccessTokenRequest'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthAccessTokenResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user_account:
    get:
      summary: Get user account
      description: |-
        Get account information for the "operation user_account"
        - By default, the "operation user_account" is the token user_account.

        If using Business Access: Specify an ad_account_id to use the owner of that ad_account as the "operation user_account". See <a href='/docs/api/v5/#tag/Understanding-business-access'>Understanding Business Access</a> for more information.
      tags:
      - user_account
      operationId: user_account/get
      security:
      - pinterest_oauth2:
        - user_accounts:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '403':
          description: Not authorized to access the user account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to access the user account.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user_account/analytics:
    get:
      summary: Get user account analytics
      description: |-
        Get analytics for the "operation user_account"
        - By default, the "operation user_account" is the token user_account.

        Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the "operation user_account".
      tags:
      - user_account
      operationId: user_account/analytics
      security:
      - pinterest_oauth2:
        - user_accounts:read
      x-ratelimit-category: org_analytics
      parameters:
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_from_claimed_content'
      - $ref: '#/components/parameters/query_pin_format'
      - $ref: '#/components/parameters/query_app_types'
      - $ref: '#/components/parameters/query_metric_types'
      - $ref: '#/components/parameters/query_split_field_user_account'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
          description: Success
        '400':
          description: Invalid user accounts analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid user accounts analytics parameters.
        '403':
          description: Not authorized to access the user account analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to access the user account analytics.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user_account/analytics/top_pins:
    get:
      summary: Get user account top pins analytics
      description: |-
        Gets analytics data about a user's top pins (limited to the top 50).
        - By default, the "operation user_account" is the token user_account.

        Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the "operation user_account".
      tags:
      - user_account
      operationId: user_account/analytics/top_pins
      security:
      - pinterest_oauth2:
        - pins:read
        - user_accounts:read
      x-ratelimit-category: org_analytics
      parameters:
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_sort_by'
      - $ref: '#/components/parameters/query_from_claimed_content'
      - $ref: '#/components/parameters/query_pin_format'
      - $ref: '#/components/parameters/query_app_types'
      - $ref: '#/components/parameters/query_metric_types'
      - $ref: '#/components/parameters/query_num_of_pins'
      - $ref: '#/components/parameters/query_created_in_last_n_days'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopPinsAnalyticsResponse'
          description: Success
        '403':
          description: Not authorized to access the user account analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to access the user account analytics.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user_account/analytics/top_video_pins:
    get:
      summary: Get user account top video pins analytics
      description: |-
        Gets analytics data about a user's top video pins (limited to the top 50).
        - By default, the "operation user_account" is the token user_account.

        Optional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the "operation user_account".
      tags:
      - user_account
      operationId: user_account/analytics/top_video_pins
      security:
      - pinterest_oauth2:
        - pins:read
        - user_accounts:read
      x-ratelimit-category: org_analytics
      parameters:
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_video_pin_sort_by'
      - $ref: '#/components/parameters/query_from_claimed_content'
      - $ref: '#/components/parameters/query_pin_format'
      - $ref: '#/components/parameters/query_app_types'
      - $ref: '#/components/parameters/query_video_pin_metric_types'
      - $ref: '#/components/parameters/query_num_of_pins'
      - $ref: '#/components/parameters/query_created_in_last_n_days'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopVideoPinsAnalyticsResponse'
          description: Success
        '403':
          description: Not authorized to access the user account analytics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to access the user account analytics.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pins:
    post:
      summary: Create Pin
      description: |-
        Create a Pin on a board or board section owned by the "operation user_account".

        Note: If the current "operation user_account" (defined by the access token) has access to another user's Ad Accounts via Pinterest Business Access, you can modify your request to make use of the current operation_user_account's permissions to those Ad Accounts by including the ad_account_id in the path parameters for the request (e.g. .../?ad_account_id=12345&...).

        - This function is intended solely for publishing new content created by the user. If you are interested in saving content created by others to your Pinterest boards, sometimes called 'curated content', please use our <a href='/docs/add-ons/save-button'>Save button</a> instead. For more tips on creating fresh content for Pinterest, review our <a href='/docs/solutions/content-apps'>Content App Solutions Guide</a>.

        <strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.
      tags:
      - pins
      operationId: pins/create
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
        - pins:read
        - pins:write
      x-ratelimit-category: org_write
      requestBody:
        description: Create a new Pin.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pin'
      responses:
        '201':
          description: Successful pin creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pin'
        '400':
          description: Invalid Pin parameters response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidPinUrl:
                  value:
                    code: 1
                    message: Whoops! It looks like you entered an invalid URL. Try
                      creating a Pin again with a valid URL.
        '403':
          description: The Pin's image is too small, too large or is broken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                PinImageTooSmall:
                  value:
                    code: 233
                    message: Your image is too small. Please choose a larger image
                      and try again.
                PinImageBroken:
                  value:
                    code: 235
                    message: Sorry, this image is broken. Please pick a different
                      image.
        '404':
          description: Board or section not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                BoardNotFound:
                  value:
                    code: 40
                    message: Board not found.
                BoardSectionNotFound:
                  value:
                    code: 2031
                    message: Sorry! We couldn't find this board section.
        '429':
          description: |-
            This request exceeded a rate limit. This can happen if the client exceeds one
            of the published rate limits or if multiple write operations are applied to
            an object within a short time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 8
                message: |-
                  This request exceeded a rate limit. This can happen if the client exceeds one
                  of the published rate limits or if multiple write operations are applied to
                  an object within a short time window.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pins/{pin_id}:
    get:
      summary: Get Pin
      description: |-
        Get a Pin owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.

        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account:

        - For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager.
        - For Pins on secret boards: Owner, Admin.
      tags:
      - pins
      operationId: pins/get
      security:
      - pinterest_oauth2:
        - boards:read
        - pins:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/path_pin_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pin'
        '403':
          description: Not authorized to access board or Pin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 29
                message: You are not permitted to access that resource.
        '404':
          description: Pin not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 50
                message: Pin not found.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete Pin
      description: |-
        Delete a Pins owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - pins
      operationId: pins/delete
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
        - pins:read
        - pins:write
      x-ratelimit-category: org_write
      parameters:
      - $ref: '#/components/parameters/path_pin_id'
      responses:
        '204':
          description: Successfully deleted Pin
        '403':
          description: Not authorized to access board or Pin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to access board or Pin.
        '404':
          description: Pin not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Pin not found.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /pins/{pin_id}/analytics:
    get:
      summary: Get Pin analytics
      description: |-
        Get analytics for a Pin owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.

        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href="https://developers.pinterest.com/docs/api/v5/#operation/ad_accounts/list">List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account:

        - For Pins on public or protected boards: Admin, Analyst.
        - For Pins on secret boards: Admin.
      tags:
      - pins
      operationId: pins/analytics
      security:
      - pinterest_oauth2:
        - boards:read
        - pins:read
      x-ratelimit-category: org_analytics
      parameters:
      - $ref: '#/components/parameters/path_pin_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_app_types'
      - $ref: '#/components/parameters/query_pin_analytics_metric_types'
      - $ref: '#/components/parameters/query_split_field_pins'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '400':
          description: Invalid pins analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid pins analytics parameters.
        '403':
          description: Not authorized to access board or Pin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to access board or Pin.
        '404':
          description: Pin not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Pin not found.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /boards:
    get:
      summary: List boards
      description: |-
        Get a list of the boards owned by the "operation user_account" + group boards where this account is a collaborator

        Optional: Specify a privacy type (public, protected, or secret) to indicate which boards to return.
        - If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.
      tags:
      - boards
      operationId: boards/list
      security:
      - pinterest_oauth2:
        - boards:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - name: privacy
        description: Privacy setting for a board.
        in: query
        required: false
        schema:
          type: string
          enum:
          - PUBLIC
          - PROTECTED
          - SECRET
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      description: Boards
                      items:
                        $ref: '#/components/schemas/Board'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create board
      description: |-
        Create a board owned by the "operation user_account".
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: boards/create
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
      x-ratelimit-category: org_write
      requestBody:
        description: Create a board using a single board json object.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Board'
      responses:
        '201':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '400':
          description: The board name is invalid or duplicated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: The board name is invalid or duplicated.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /boards/{board_id}:
    get:
      summary: Get board
      description: |-
        Get a board owned by the operation user_account - or a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: boards/get
      security:
      - pinterest_oauth2:
        - boards:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '404':
          description: Board not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Board not found.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update board
      description: Update a board owned by the "operating user_account".
      tags:
      - boards
      operationId: boards/update
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
      x-ratelimit-category: org_write
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      requestBody:
        description: Update a board.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardUpdate'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
        '400':
          description: Invalid board parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid board parameters.
        '403':
          description: Not authorized to update the board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to update the board.
        '429':
          description: |-
            This request exceeded a rate limit. This can happen if the client exceeds one
            of the published rate limits or if multiple write operations are applied to
            an object within a short time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 8
                message: |-
                  This request exceeded a rate limit. This can happen if the client exceeds one
                  of the published rate limits or if multiple write operations are applied to
                  an object within a short time window.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete board
      description: |-
        Delete a board owned by the "operation user_account".
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: boards/delete
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
      x-ratelimit-category: org_write
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      responses:
        '204':
          description: Board deleted successfully
        '403':
          description: Not authorized to delete the board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to delete the board.
        '404':
          description: Board not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Board not found.
        '409':
          description: Could not get exclusive access to delete the board.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Could not get exclusive access to delete the board.
        '429':
          description: |-
            This request exceeded a rate limit. This can happen if the client exceeds one
            of the published rate limits or if multiple write operations are applied to
            an object within a short time window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 8
                message: |-
                  This request exceeded a rate limit. This can happen if the client exceeds one
                  of the published rate limits or if multiple write operations are applied to
                  an object within a short time window.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /boards/{board_id}/sections:
    get:
      summary: List board sections
      description: |-
        Get a list of all board sections from a board owned by the "operation user_account" - or a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: board_sections/list
      security:
      - pinterest_oauth2:
        - boards:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      description: Board sections
                      items:
                        $ref: '#/components/schemas/BoardSection'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create board section
      description: |-
        Create a board section on a board owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: board_sections/create
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
      x-ratelimit-category: org_write
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      requestBody:
        description: Create a board section.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardSection'
      responses:
        '201':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardSection'
        '400':
          description: Invalid board section parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid board section parameters.
        '403':
          description: Not authorized to create board sections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to create board sections.
        '409':
          description: Could not get exclusive access to the board to create a new
            section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Could not get exclusive access to the board to create a new
                  section.
        '500':
          description: Could not create a new board section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Could not create a new board section.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /boards/{board_id}/sections/{section_id}:
    patch:
      summary: Update board section
      description: |-
        Update a board section on a board owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: board_sections/update
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
      x-ratelimit-category: org_write
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      - $ref: '#/components/parameters/path_board_section_id'
      requestBody:
        description: Update a board section.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardSection'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardSection'
        '400':
          description: Invalid board section parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid board section parameters.
        '403':
          description: Not authorized to update board section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to update board section.
        '409':
          description: Board section conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Board section conflict.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete board section
      description: |-
        Delete a board section on a board owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: board_sections/delete
      security:
      - pinterest_oauth2:
        - boards:read
        - boards:write
      x-ratelimit-category: org_write
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      - $ref: '#/components/parameters/path_board_section_id'
      responses:
        '204':
          description: Board section deleted successfully
        '403':
          description: Not authorized to delete board section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to delete board section.
        '404':
          description: Board section not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Board section not found.
        '409':
          description: Board section conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Board section conflict.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /boards/{board_id}/sections/{section_id}/pins:
    get:
      summary: List Pins on board section
      description: |-
        Get a list of the Pins on a board section of a board owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: board_sections/list_pins
      security:
      - pinterest_oauth2:
        - boards:read
        - pins:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      - $ref: '#/components/parameters/path_board_section_id'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      description: Pins
                      items:
                        $ref: '#/components/schemas/Pin'
        '403':
          description: Not authorized to access Pins on board section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Not authorized to access Pins on board section.
        '404':
          description: Board or section not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Board or section not found.
        '409':
          description: Board section conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 409
                message: Board section conflict.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /boards/{board_id}/pins:
    get:
      summary: List Pins on board
      description: |-
        Get a list of the Pins on a board owned by the "operation user_account" - or on a group board that has been shared with this account.
        - By default, the "operation user_account" is the token user_account.
      tags:
      - boards
      operationId: boards/list_pins
      security:
      - pinterest_oauth2:
        - boards:read
        - pins:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/path_board_id'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      description: Pins
                      items:
                        $ref: '#/components/schemas/Pin'
        '404':
          description: Board not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Board not found.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /media:
    get:
      summary: List media uploads
      description: |-
        List media uploads filtered by given parameters.

        <strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.
      tags:
      - media
      operationId: media/list
      security:
      - pinterest_oauth2:
        - pins:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      description: Media
                      items:
                        $ref: '#/components/schemas/MediaUploadDetails'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Register media upload
      description: |-
        Register your intent to upload media

        The response includes all of the information needed to upload the media
        to Pinterest.

        To upload the media, make an HTTP POST request (using <tt>curl</tt>, for
        example) to <tt>upload_url</tt> using the <tt>Content-Type</tt> header
        value. Send the media file's contents as the request's <tt>file</tt>
        parameter and also include all of the parameters from
        <tt>upload_parameters</tt>.

        <strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.
      tags:
      - media
      operationId: media/create
      security:
      - pinterest_oauth2:
        - pins:read
        - pins:write
      x-ratelimit-category: org_write
      requestBody:
        description: Create a media upload request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaUploadRequest'
      responses:
        '201':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUpload'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /media/{media_id}:
    get:
      summary: Get media upload details
      description: |-
        Get details for a registered media upload, including its current status.

        <strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.
      tags:
      - media
      operationId: media/get
      security:
      - pinterest_oauth2:
        - pins:read
      x-ratelimit-category: org_read
      parameters:
      - $ref: '#/components/parameters/path_media_id'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadDetails'
        '404':
          description: Media upload not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Media upload not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ad_accounts:
    get:
      summary: List ad accounts
      description: |-
        Get a list of the ad_accounts that the "operation user_account" has access to.
        - This includes ad_accounts they own and ad_accounts that are owned by others who have granted them <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>.
      tags:
      - ad_accounts
      operationId: ad_accounts/list
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_include_shared_accounts'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      description: Ad accounts
                      items:
                        $ref: '#/components/schemas/AdAccount'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create ad account
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Create a new ad account. Different ad accounts can support different currencies, payment methods, etc.
        An ad account is needed to create campaigns, ad groups, and ads; other accounts (your employees or partners) can be assigned business access and appropriate roles to access an ad account. <p/>
        You can set up up to 50 ad accounts per user. (The user must have a business account to create an ad account.) <p/>
        For more, see <a class="reference external" href="https://help.pinterest.com/en/business/article/create-an-advertiser-account">Create an advertiser account</a>.
      tags:
      - ad_accounts
      operationId: ad_accounts/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdAccountCreateRequest'
        description: Ad account to create.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccount'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
  /ad_accounts/{ad_account_id}:
    get:
      summary: Get ad account
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Get an ad account
      operationId: ad_accounts/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccount'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - ad_accounts
  /ad_accounts/{ad_account_id}/analytics:
    get:
      summary: Get ad account analytics
      description: |-
        Get analytics for the specified <code>ad_account_id</code>, filtered by the specified options.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: ad_account/analytics
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountAnalyticsResponse'
          description: Success
        '400':
          description: Invalid ad account analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_accounts
  /ad_accounts/{ad_account_id}/campaigns:
    get:
      summary: List campaigns
      description: |-
        Get a list of the campaigns in the specified <code>ad_account_id</code>, filtered by the specified options.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: campaigns/list
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_campaign_ids'
      - $ref: '#/components/parameters/query_entity_statuses'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_bookmark'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CampaignResponse'
          description: Success
        '400':
          description: Invalid ad account campaign parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account campaign parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - campaigns
    post:
      summary: Create campaigns
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Create multiple new campaigns. Every campaign has its own campaign_id and houses one or more ad groups, which contain one or more ads.
        For more, see <a href="https://help.pinterest.com/en/business/article/set-up-your-campaign/">Set up your campaign</a>. <p/>
        <strong>Note:</strong>
        - The values for 'lifetime_spend_cap' and 'daily_spend_cap' are microcurrency amounts based on the currency field set in the advertiser's profile. (e.g. USD) <p/>
        Microcurrency is used to track very small transactions, based on the currency field set in the advertiser's profile.
        A microcurrency unit is one one-millionth of the standard unit of currency selected in the advertiser's profile (e.g. a microdollar is $0.000001.)
      tags:
      - campaigns
      operationId: campaigns/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        description: Array of campaigns.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CampaignCreateRequest'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCreateResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update campaigns
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Update multiple ad campaigns based on campaign_ids. <p/>
        <strong>Note:</strong><p/>
        - The values for 'lifetime_spend_cap' and 'daily_spend_cap' are microcurrency amounts based on the currency field set in the advertiser's profile. (e.g. USD) <p/>
        Microcurrency is used to track very small transactions, based on the currency field set in the advertiser's profile.
        A microcurrency unit is one one-millionth of the standard unit of currency selected in the advertiser's profile (e.g. a microdollar is $0.000001.)
      tags:
      - campaigns
      operationId: campaigns/update
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        description: Array of campaigns.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CampaignUpdateRequest'
      responses:
        '200':
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignUpdateResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ad_accounts/{ad_account_id}/campaigns/{campaign_id}:
    get:
      summary: Get campaign
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Get a specific campaign given the campaign ID.
      operationId: campaigns/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_campaign_id'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - campaigns
  /ad_accounts/{ad_account_id}/campaigns/analytics:
    get:
      summary: Get campaign analytics
      description: |-
        Get analytics for the specified campaigns in the specified <code>ad_account_id</code>, filtered by the specified options.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: campaigns/analytics
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_campaign_ids_required'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsAnalyticsResponse'
          description: Success
        '400':
          description: Invalid ad account campaign analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account campaign analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_accounts
  /ad_accounts/{ad_account_id}/ad_groups:
    get:
      summary: List ad groups
      description: |-
        List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). <p/>
        <strong>Note:</strong><p/>
        Provide only campaign_id or ad_group_id. Do not provide both.
      operationId: ad_groups/list
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_campaign_ids'
      - $ref: '#/components/parameters/query_ad_group_ids'
      - $ref: '#/components/parameters/query_entity_statuses'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_translate_interests_to_names'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/AdGroupResponse'
          description: Success
        '400':
          description: Invalid ad account group parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account group parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_groups
    post:
      summary: Create ad groups
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other). For more information, <a href="https://help.pinterest.com/en/business/article/campaign-structure" target="_blank"> click here</a>.</p>
        <strong>Note:</strong>
        - 'bid_in_micro_currency' and 'budget_in_micro_currency' should be expressed in microcurrency amounts based on the currency field set in the advertiser's profile.
        Microcurrency is used to track very small transactions, based on the currency field set in the advertiser's profile.
        A microcurrency unit is one one-millionth of the standard unit of currency selected in the advertiser's profile (e.g. a microdollar is $0.000001.)
        - Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message.
      operationId: ad_groups/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AdGroupCreateRequest'
              maxItems: 30
              minItems: 1
              type: array
        description: List of ad groups to create, size limit [1, 30].
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - ad_groups
    patch:
      summary: Update ad groups
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Update multiple existing ad groups.
      operationId: ad_groups/update
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AdGroupUpdateRequest'
              maxItems: 30
              minItems: 1
              type: array
        description: List of ad groups to update, size limit [1, 30].
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - ad_groups
  /ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}:
    get:
      summary: Get ad group
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will
        contain additional information from the Ad Review process.
        For more information about our policies and rejection reasons see the <a href="https://www.pinterest.com/_/_/policy/advertising-guidelines/"
        target="_blank">Pinterest advertising standards</a>.
      operationId: ad_groups/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_ad_group_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - ad_groups
  /ad_accounts/{ad_account_id}/ad_groups/analytics:
    get:
      summary: Get ad group analytics
      description: |-
        Get analytics for the specified ad groups in the specified <code>ad_account_id</code>, filtered by the specified options.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: ad_groups/analytics
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_ad_group_ids_required'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupsAnalyticsResponse'
          description: Success
        '400':
          description: Invalid ad account group analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account group analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_accounts
  /ad_accounts/{ad_account_id}/ads:
    get:
      summary: List ads
      description: |-
        List ads that meet the filters provided:
          - Listed campaign ids or ad group ids or ad ids
          - Listed entity statuses <p/>
        If no filter is provided, all ads in the ad account are returned. <p/>
        <strong>Note:</strong><p/>
        Provide only campaign_id or ad_group_id or ad_id. Do not provide more than one type. <p/>
        Review status is provided for each ad; if review_status is REJECTED, the rejected_reasons field will contain additional information.
        For more, see <a href="https://policy.pinterest.com/en/advertising-guidelines">Pinterest advertising standards</a>.
      operationId: ads/list
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_campaign_ids'
      - $ref: '#/components/parameters/query_ad_group_ids'
      - $ref: '#/components/parameters/query_ad_ids'
      - $ref: '#/components/parameters/query_entity_statuses'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_bookmark'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/AdResponse'
          description: Success
        '400':
          description: Invalid ad account ads parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ads
    post:
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Create multiple new ads. Request must contain ad_group_id, creative_type, and the source Pin pin_id.
      operationId: ads/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdCreateRequest'
        description: List of ads to create, size limit [1, 30].
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Create ads
      tags:
      - ads
    patch:
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Update multiple existing ads
      operationId: ads/update
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUpdateRequest'
        description: List of ads to update, size limit [1, 30]
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Update ads
      tags:
      - ads
  /ad_accounts/{ad_account_id}/ads/{ad_id}:
    get:
      summary: Get ad
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will
        contain additional information from the Ad Review process.
        For more information about our policies and rejection reasons see the <a href="https://www.pinterest.com/_/_/policy/advertising-guidelines/"
        target="_blank">Pinterest advertising standards</a>.
      operationId: ads/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_ad_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - ads
  /ad_accounts/{ad_account_id}/ads/analytics:
    get:
      summary: Get ad analytics
      description: |-
        Get analytics for the specified ads in the specified <code>ad_account_id</code>, filtered by the specified options.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: ads/analytics
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_ad_ids_required'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsAnalyticsResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_accounts
  /ad_accounts/{ad_account_id}/ad_previews:
    post:
      summary: Create ad preview with pin or image
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad. <p/>
        If you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See <a href="https://help.pinterest.com/en/business/article/promoted-pins-overview" target="_blank">Ads Overview</a>.) <p/>
        You can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires.
      tags:
      - ads
      operationId: ad_previews/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        description: Create ad preview with pin or image.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdPreviewRequest'
      responses:
        '200':
          description: Successful ad preview creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdPreviewURLResponse'
        '400':
          description: Invalid Pin parameters response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidPinUrl:
                  value:
                    code: 1
                    message: Whoops! It looks like you entered an invalid URL. Try
                      creating a Pin again with a valid URL.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ad_accounts/{ad_account_id}/bid_floor:
    post:
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        List bid floors for your campaign configuration. Bid floors are given in microcurrency values based on the currency in the bid floor specification. <p/>
        Microcurrency is used to track very small transactions, based on the currency field set in the advertiser's profile. A microcurrency unit is one one-millionth of the standard unit of currency selected in the advertiser's profile (e.g. a microdollar is $0.000001.) <p/>
        For more on bid floors see <a class="reference external" href="https://help.pinterest.com/en/business/article/set-your-bid"> Set your bid</a>.
      operationId: ad_groups_bid_floor/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BidFloorRequest'
        description: Parameters to get bid_floor info
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BidFloor'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get bid floors
      tags:
      - ad_groups
  /ad_accounts/{ad_account_id}/product_groups/analytics:
    get:
      summary: Get product group analytics
      description: |-
        Get analytics for the specified product groups in the specified <code>ad_account_id</code>, filtered by the specified options.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: product_groups/analytics
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_product_group_ids_required'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupAnalyticsResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_accounts
  /ad_accounts/{ad_account_id}/reports:
    get:
      summary: Get the account analytics report created by the async call
      description: |-
        This returns a URL to an analytics report given a token returned from the post request report creation call. You can use the URL to download the report and it's valid for an hour.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: analytics/get_report
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_token_required'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsAnalyticsGetAsyncResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_accounts
    post:
      summary: Create async request for an account analytics report
      description: |-
        This returns a token that you can use to download the report when it is ready. Note that this endpoint requires the parameters to be passed as JSON-formatted in the request body. This endpoint does not support URL query parameters.
        - The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.
      operationId: analytics/create_report
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsAnalyticsCreateAsyncRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsAnalyticsCreateAsyncResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - ad_accounts
  /ad_accounts/{ad_account_id}/product_group_promotions:
    post:
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a 'product group promotion.')
      operationId: product_group_promotions/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductGroupPromotionCreateRequest'
        description: List of Product Group Promotions to create, size limit [1, 30].
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupPromotionArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Create product group promotions
      tags:
      - product_group_promotions
    patch:
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Update multiple existing Product Group Promotions (by product_group_id)
      operationId: product_group_promotions/update
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductGroupPromotionUpdateRequest'
        description: Parameters to update Product group promotions
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductGroupPromotionUpdateResponseItem'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Update product group promotions
      tags:
      - product_group_promotions
  /ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}:
    get:
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Get a product group promotion by id
      operationId: product_group_promotion/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_product_group_promotion_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupPromotion'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get a product group promotion by id
      tags:
      - product_group_promotions
  /terms/suggested:
    get:
      summary: List suggested terms
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Get popular search terms that begin with your input term. <p/>
        Example: 'sport' would return popular terms like 'sports bar' and 'sportswear', but not 'motor sports' since the phrase does not begin with the given term.
      tags:
      - terms
      operationId: terms_suggested/list
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      parameters:
      - $ref: '#/components/parameters/query_input_term'
      - $ref: '#/components/parameters/query_term_limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsSuggestedResponse'
          description: Success
        '400':
          description: Invalid terms suggested parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid terms suggested parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ad_accounts/{ad_account_id}/terms_of_service:
    get:
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/ads-management/'>Learn more</a>.</strong> <p/>
        Get the text of the terms of service and see whether the advertiser has accepted the terms of service.
      operationId: terms_of_service/get
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_include_html'
      - $ref: '#/components/parameters/query_tos_type'
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermsOfService'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get terms of service
      tags:
      - terms_of_service
  /catalogs/feeds:
    get:
      x-ratelimit-category: catalogs_read
      summary: List feeds
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/catalog-management/'>Learn more</a>.</strong>

        Fetch feeds owned by the "operating user_account".
      operationId: feeds/list
      security:
      - pinterest_oauth2:
        - catalogs:read
      parameters:
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CatalogsFeed'
          description: Success
        '400':
          description: Invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: Parameter 'page_size' was not numeric (was 3e)"
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - catalogs
    post:
      x-ratelimit-category: catalogs_write
      summary: Create feed
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/catalog-management/'>Learn more</a>.</strong>

        Create a new feed owned by the "operating user_account".
      operationId: feeds/create
      security:
      - pinterest_oauth2:
        - catalogs:read
        - catalogs:write
      requestBody:
        description: Request object used to created a feed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogsFeedsCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsFeed'
          description: Success
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: 'Invalid request: ...'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Business account required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                BusinessAccountRequired:
                  value:
                    code: 654
                    message: You must have a business account to operate as merchant.
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
        '409':
          description: User website required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UserWebsiteRequired:
                  value:
                    code: 4168
                    message: User does not have a website.
                UserWebsiteNotVerified:
                  value:
                    code: 4169
                    message: User does not have a verified website.
        '422':
          description: Unique feed name is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedDuplicatedName:
                  value:
                    code: 4170
                    message: The feed name already exists.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - catalogs
  /catalogs/feeds/{feed_id}:
    get:
      x-ratelimit-category: catalogs_read
      summary: Get feed
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/catalog-management/'>Learn more</a>.</strong>

        Get a single feed owned by the "operating user_account".
      operationId: feeds/get
      security:
      - pinterest_oauth2:
        - catalogs:read
      parameters:
      - $ref: '#/components/parameters/path_catalogs_feed_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsFeed'
          description: Success
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the
                      pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '404':
          description: Data feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - catalogs
    patch:
      x-ratelimit-category: catalogs_write
      summary: Update feed
      description: |-
        <strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/features/catalog-management/'>Learn more</a>.</strong>

        Update a feed owned by the "operating user_account".
      operationId: feeds/update
      security:
      - pinterest_oauth2:
        - catalogs:read
        - catalogs:write
      parameters:
      - $ref: '#/components/parameters/path_catalogs_feed_id'
      requestBody:
        description: Request object used to update a feed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogsFeedsUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsFeed'
          description: Success
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
[...]
