{
  "openapi": "3.0.3",
  "info": {
    "version": "5.3.0",
    "title": "Pinterest REST API",
    "description": "Pinterest's REST API",
    "contact": {
      "name": "Pinterest, Inc.",
      "url": "https://developers.pinterest.com/",
      "email": "pinterest-api@pinterest.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://developers.pinterest.com/terms/"
  },
  "externalDocs": {
    "description": "Pinterest developer documentation main page",
    "url": "https://developers.pinterest.com/"
  },
  "servers": [
    {
      "url": "https://api.pinterest.com/v5"
    }
  ],
  "tags": [
    {
      "name": "ad_accounts",
      "description": "View analytical information about advertising.\n\nNote: If the current operation_user_account (defined by the access token)\nhas access to another user's Ad Accounts via\n<a href='/docs/api/v5/#tag/Understanding-business-access'>Pinterest Business Access</a>,\nyou can modify your request to use the current operation_user_account's\npermissions to those Ad Accounts by including the ad_account_id in the path\nparameters for the request (e.g. .../?ad_account_id=12345&...)."
    },
    {
      "name": "boards",
      "description": "View, create, update, or delete information about boards."
    },
    {
      "name": "catalogs",
      "description": "Manage information about shopping product catalogs and items."
    },
    {
      "name": "media",
      "description": "Register and manage media uploads."
    },
    {
      "name": "oauth",
      "description": "Generating and refreshing OAuth access tokens."
    },
    {
      "name": "pins",
      "description": "View, create, update, or delete information about Pins."
    },
    {
      "name": "user_account",
      "description": "Read-only information about user accounts associated with a given access token."
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Generate OAuth access token",
        "description": "Generate an OAuth access token by using an authorization code or a refresh token.\n\nSee <a href='/docs/api/v5/#tag/Authentication'>Authentication</a> for more.",
        "tags": [
          "oauth"
        ],
        "operationId": "oauth/token",
        "security": [
          {}
        ],
        "x-ratelimit-category": "org_read",
        "requestBody": {
          "description": "Generate an OAuth access token.",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OauthAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OauthAccessTokenResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user_account": {
      "get": {
        "summary": "Get user account",
        "description": "Get account information for the \"operation user_account\"\n- By default, the \"operation user_account\" is the token user_account.\n\nIf using Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\". See <a href='/docs/api/v5/#tag/Understanding-business-access'>Understanding Business Access</a> for more information.",
        "tags": [
          "user_account"
        ],
        "operationId": "user_account/get",
        "security": [
          {
            "pinterest_oauth2": [
              "user_accounts:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_ad_account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access the user account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to access the user account."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user_account/analytics": {
      "get": {
        "summary": "Get user account analytics",
        "description": "Get analytics for the \"operation user_account\"\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an ad_account_id to use the owner of that ad_account as the \"operation user_account\".",
        "tags": [
          "user_account"
        ],
        "operationId": "user_account/analytics",
        "security": [
          {
            "pinterest_oauth2": [
              "user_accounts:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_from_claimed_content"
          },
          {
            "$ref": "#/components/parameters/query_pin_format"
          },
          {
            "$ref": "#/components/parameters/query_app_types"
          },
          {
            "$ref": "#/components/parameters/query_metric_types"
          },
          {
            "$ref": "#/components/parameters/query_split_field_user_account"
          },
          {
            "$ref": "#/components/parameters/query_ad_account_id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            },
            "description": "Success"
          },
          "403": {
            "description": "Not authorized to access the user account analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to access the user account analytics."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pins": {
      "post": {
        "summary": "Create Pin",
        "description": "Create a Pin on a board or board section owned by the \"operation user_account\".\n\nNote: If the current \"operation user_account\" (defined by the access token) has access to another user's Ad Accounts via Pinterest Business Access, you can modify your request to make use of the current operation_user_account's permissions to those Ad Accounts by including the ad_account_id in the path parameters for the request (e.g. .../?ad_account_id=12345&...).\n\n- This function is intended solely for publishing new content created by the user. If you are interested in saving content created by others to your Pinterest boards, sometimes called 'curated content', please use our <a href='/docs/add-ons/save-button'>Save button</a> instead. For more tips on creating fresh content for Pinterest, review our <a href='/docs/solutions/content-apps'>Content App Solutions Guide</a>.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "tags": [
          "pins"
        ],
        "operationId": "pins/create",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write",
              "pins:read",
              "pins:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "requestBody": {
          "description": "Create a new Pin.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pin"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful pin creation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pin"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Pin parameters response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidPinUrl": {
                    "value": {
                      "code": 1,
                      "message": "Whoops! It looks like you entered an invalid URL. Try creating a Pin again with a valid URL."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The Pin's image is too small, too large or is broken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "PinImageTooSmall": {
                    "value": {
                      "code": 233,
                      "message": "Your image is too small. Please choose a larger image and try again."
                    }
                  },
                  "PinImageBroken": {
                    "value": {
                      "code": 235,
                      "message": "Sorry, this image is broken. Please pick a different image."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Board or section not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BoardNotFound": {
                    "value": {
                      "code": 40,
                      "message": "Board not found."
                    }
                  },
                  "BoardSectionNotFound": {
                    "value": {
                      "code": 2031,
                      "message": "Sorry! We couldn't find this board section."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 8,
                  "message": "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pins/{pin_id}": {
      "get": {
        "summary": "Get Pin",
        "description": "Get a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href='/docs/api/v5/#operation/ad_accounts/list'>List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account:\n\n- For Pins on public or protected boards: Owner, Admin, Analyst, Campaign Manager.\n- For Pins on secret boards: Owner, Admin.",
        "tags": [
          "pins"
        ],
        "operationId": "pins/get",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "pins:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_pin_id"
          },
          {
            "$ref": "#/components/parameters/query_ad_account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pin"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access board or Pin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 29,
                  "message": "You are not permitted to access that resource."
                }
              }
            }
          },
          "404": {
            "description": "Pin not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 50,
                  "message": "Pin not found."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Pin",
        "description": "Delete a Pins owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "pins"
        ],
        "operationId": "pins/delete",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write",
              "pins:read",
              "pins:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_pin_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted Pin"
          },
          "403": {
            "description": "Not authorized to access board or Pin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to access board or Pin."
                }
              }
            }
          },
          "404": {
            "description": "Pin not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Pin not found."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pins/{pin_id}/analytics": {
      "get": {
        "summary": "Get Pin analytics",
        "description": "Get analytics for a Pin owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.\n\nOptional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=\"https://developers.pinterest.com/docs/api/v5/#operation/ad_accounts/list\">List ad accounts</a>) to use the owner of that ad_account as the \"operation user_account\". In order to do this, the token user_account must have one of the following <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a> roles on the ad_account:\n\n- For Pins on public or protected boards: Admin, Analyst.\n- For Pins on secret boards: Admin.",
        "tags": [
          "pins"
        ],
        "operationId": "pins/analytics",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "pins:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_pin_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_app_types"
          },
          {
            "$ref": "#/components/parameters/query_pin_analytics_metric_types"
          },
          {
            "$ref": "#/components/parameters/query_split_field_pins"
          },
          {
            "$ref": "#/components/parameters/query_ad_account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access board or Pin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to access board or Pin."
                }
              }
            }
          },
          "404": {
            "description": "Pin not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Pin not found."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boards": {
      "get": {
        "summary": "List boards",
        "description": "Get a list of the boards owned by the \"operation user_account\" + group boards where this account is a collaborator\n\nOptional: Specify a privacy type (public, protected, or secret) to indicate which boards to return.\n- If no privacy is specified, all boards that can be returned (based on the scopes of the token and ad_account role if applicable) will be returned.",
        "tags": [
          "boards"
        ],
        "operationId": "boards/list",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "name": "privacy",
            "description": "Privacy setting for a board.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PUBLIC",
                "PROTECTED",
                "SECRET"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "description": "Boards",
                          "items": {
                            "$ref": "#/components/schemas/Board"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create board",
        "description": "Create a board owned by the \"operation user_account\".\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "boards/create",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "requestBody": {
          "description": "Create a board using a single board json object.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Board"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "description": "The board name is invalid or duplicated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "The board name is invalid or duplicated."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boards/{board_id}": {
      "get": {
        "summary": "Get board",
        "description": "Get a board owned by the operation user_account - or a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "boards/get",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "404": {
            "description": "Board not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Board not found."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update board",
        "description": "Update a board owned by the \"operating user_account\".",
        "tags": [
          "boards"
        ],
        "operationId": "boards/update",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          }
        ],
        "requestBody": {
          "description": "Update a board.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "description": "Invalid board parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid board parameters."
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to update the board.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to update the board."
                }
              }
            }
          },
          "429": {
            "description": "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 8,
                  "message": "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete board",
        "description": "Delete a board owned by the \"operation user_account\".\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "boards/delete",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Board deleted successfully"
          },
          "403": {
            "description": "Not authorized to delete the board.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to delete the board."
                }
              }
            }
          },
          "404": {
            "description": "Board not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Board not found."
                }
              }
            }
          },
          "409": {
            "description": "Could not get exclusive access to delete the board.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 409,
                  "message": "Could not get exclusive access to delete the board."
                }
              }
            }
          },
          "429": {
            "description": "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 8,
                  "message": "This request exceeded a rate limit. This can happen if the client exceeds one\nof the published rate limits or if multiple write operations are applied to\nan object within a short time window."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boards/{board_id}/sections": {
      "get": {
        "summary": "List board sections",
        "description": "Get a list of all board sections from a board owned by the \"operation user_account\" - or a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "board_sections/list",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "description": "Board sections",
                          "items": {
                            "$ref": "#/components/schemas/BoardSection"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create board section",
        "description": "Create a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "board_sections/create",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          }
        ],
        "requestBody": {
          "description": "Create a board section.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardSection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardSection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid board section parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid board section parameters."
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to create board sections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to create board sections."
                }
              }
            }
          },
          "409": {
            "description": "Could not get exclusive access to the board to create a new section.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 409,
                  "message": "Could not get exclusive access to the board to create a new section."
                }
              }
            }
          },
          "500": {
            "description": "Could not create a new board section.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 500,
                  "message": "Could not create a new board section."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boards/{board_id}/sections/{section_id}": {
      "patch": {
        "summary": "Update board section",
        "description": "Update a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "board_sections/update",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          },
          {
            "$ref": "#/components/parameters/path_board_section_id"
          }
        ],
        "requestBody": {
          "description": "Update a board section.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BoardSection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardSection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid board section parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid board section parameters."
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to update board section.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to update board section."
                }
              }
            }
          },
          "409": {
            "description": "Board section conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 409,
                  "message": "Board section conflict."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete board section",
        "description": "Delete a board section on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "board_sections/delete",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "boards:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          },
          {
            "$ref": "#/components/parameters/path_board_section_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Board section deleted successfully"
          },
          "403": {
            "description": "Not authorized to delete board section.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to delete board section."
                }
              }
            }
          },
          "404": {
            "description": "Board section not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Board section not found."
                }
              }
            }
          },
          "409": {
            "description": "Board section conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 409,
                  "message": "Board section conflict."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boards/{board_id}/sections/{section_id}/pins": {
      "get": {
        "summary": "List Pins on board section",
        "description": "Get a list of the Pins on a board section of a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "board_sections/list_pins",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "pins:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          },
          {
            "$ref": "#/components/parameters/path_board_section_id"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "description": "Pins",
                          "items": {
                            "$ref": "#/components/schemas/Pin"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access Pins on board section.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "Not authorized to access Pins on board section."
                }
              }
            }
          },
          "404": {
            "description": "Board or section not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Board or section not found."
                }
              }
            }
          },
          "409": {
            "description": "Board section conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 409,
                  "message": "Board section conflict."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/boards/{board_id}/pins": {
      "get": {
        "summary": "List Pins on board",
        "description": "Get a list of the Pins on a board owned by the \"operation user_account\" - or on a group board that has been shared with this account.\n- By default, the \"operation user_account\" is the token user_account.",
        "tags": [
          "boards"
        ],
        "operationId": "boards/list_pins",
        "security": [
          {
            "pinterest_oauth2": [
              "boards:read",
              "pins:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_board_id"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "description": "Pins",
                          "items": {
                            "$ref": "#/components/schemas/Pin"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Board not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Board not found."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/media": {
      "get": {
        "summary": "List media uploads",
        "description": "List media uploads filtered by given parameters.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "tags": [
          "media"
        ],
        "operationId": "media/list",
        "security": [
          {
            "pinterest_oauth2": [
              "pins:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "description": "Media",
                          "items": {
                            "$ref": "#/components/schemas/MediaUploadDetails"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Register media upload",
        "description": "Register your intent to upload media\n\nThe response includes all of the information needed to upload the media\nto Pinterest.\n\nTo upload the media, make an HTTP POST request (using <tt>curl</tt>, for\nexample) to <tt>upload_url</tt> using the <tt>Content-Type</tt> header\nvalue. Send the media file's contents as the request's <tt>file</tt>\nparameter and also include all of the parameters from\n<tt>upload_parameters</tt>.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "tags": [
          "media"
        ],
        "operationId": "media/create",
        "security": [
          {
            "pinterest_oauth2": [
              "pins:read",
              "pins:write"
            ]
          }
        ],
        "x-ratelimit-category": "org_write",
        "requestBody": {
          "description": "Create a media upload request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUpload"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/media/{media_id}": {
      "get": {
        "summary": "Get media upload details",
        "description": "Get details for a registered media upload, including its current status.\n\n<strong><a href='/docs/solutions/content-apps/#creatingvideopins'>Learn more</a></strong> about video Pin creation.",
        "tags": [
          "media"
        ],
        "operationId": "media/get",
        "security": [
          {
            "pinterest_oauth2": [
              "pins:read"
            ]
          }
        ],
        "x-ratelimit-category": "org_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_media_id"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadDetails"
                }
              }
            }
          },
          "404": {
            "description": "Media upload not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 404,
                  "message": "Media upload not found"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad_accounts": {
      "get": {
        "summary": "List ad accounts",
        "description": "Get a list of the ad_accounts that the \"operation user_account\" has access to.\n- This includes ad_accounts they own and ad_accounts that are owned by others who have granted them <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>.",
        "tags": [
          "ad_accounts"
        ],
        "operationId": "ad_accounts/list",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_include_shared_accounts"
          }
        ],
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "description": "Ad accounts",
                          "items": {
                            "$ref": "#/components/schemas/AdAccount"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad_accounts/{ad_account_id}/analytics": {
      "get": {
        "summary": "Get ad account analytics",
        "description": "Get analytics for the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "ad_account/analytics",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountAnalyticsResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/campaigns": {
      "get": {
        "summary": "List campaigns",
        "description": "Get a list of the campaigns in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "campaigns/list",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids"
          },
          {
            "$ref": "#/components/parameters/query_entity_statuses"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_order"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CampaignResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account campaign parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account campaign parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/campaigns/analytics": {
      "get": {
        "summary": "Get campaign analytics",
        "description": "Get analytics for the specified campaigns in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "campaigns/analytics",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids_required"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignsAnalyticsResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account campaign analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account campaign analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups": {
      "get": {
        "summary": "List ad groups",
        "description": "Get a list of the ad groups in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "ad_groups/list",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_ids"
          },
          {
            "$ref": "#/components/parameters/query_entity_statuses"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_order"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_translate_interests_to_names"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AdGroupResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account group parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account group parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/analytics": {
      "get": {
        "summary": "Get ad group analytics",
        "description": "Get analytics for the specified ad groups in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "ad_groups/analytics",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_ids_required"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupsAnalyticsResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account group analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account group analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/ads": {
      "get": {
        "summary": "List ads",
        "description": "Get a list of the ads in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "ads/list",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_read",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_ids"
          },
          {
            "$ref": "#/components/parameters/query_ad_ids"
          },
          {
            "$ref": "#/components/parameters/query_entity_statuses"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_order"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AdResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account ads parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account ads parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/ads/analytics": {
      "get": {
        "summary": "Get ad analytics",
        "description": "Get analytics for the specified ads in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "ads/analytics",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_ad_ids_required"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsAnalyticsResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account ads analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account ads analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/product_groups/analytics": {
      "get": {
        "summary": "Get product group analytics",
        "description": "Get analytics for the specified product groups in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "product_groups/analytics",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_product_group_ids_required"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductGroupAnalyticsResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account ads analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account ads analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/ad_accounts/{ad_account_id}/reports": {
      "get": {
        "summary": "Get the account analytics report created by the async call",
        "description": "This returns a URL to an analytics report given a token returned from the post request report creation call. You can use the URL to download the report and it's valid for an hour.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "analytics/get_report",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_token_required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsAnalyticsGetAsyncResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account ads analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account ads analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      },
      "post": {
        "summary": "Create async request for an account analytics report",
        "description": "This returns a token that you can use to download the report when it is ready. Note that this endpoint requires the parameters to be passed as JSON-formatted in the request body. This endpoint does not support URL query parameters.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "operationId": "analytics/create_report",
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "x-ratelimit-category": "ads_analytics",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdsAnalyticsCreateAsyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsAnalyticsCreateAsyncResponse"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid ad account ads analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account ads analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "ad_accounts"
        ]
      }
    },
    "/catalogs/feeds": {
      "get": {
        "x-ratelimit-category": "catalogs_read",
        "summary": "List feeds",
        "description": "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/api/v5/#tag/Understanding-catalog-management'>Learn more</a>.</strong>\n\nFetch feeds owned by the \"operating user_account\".",
        "operationId": "feeds/list",
        "security": [
          {
            "pinterest_oauth2": [
              "catalogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CatalogsFeed"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidRequest": {
                    "value": {
                      "code": 1,
                      "message": "Parameter 'page_size' was not numeric (was 3e)\""
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UnauthorizedAccess": {
                    "value": {
                      "code": 29,
                      "message": "You are not permitted to access that resource."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "catalogs"
        ]
      },
      "post": {
        "x-ratelimit-category": "catalogs_write",
        "summary": "Create feed",
        "description": "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/api/v5/#tag/Understanding-catalog-management'>Learn more</a>.</strong>\n\nCreate a new feed owned by the \"operating user_account\".",
        "operationId": "feeds/create",
        "security": [
          {
            "pinterest_oauth2": [
              "catalogs:read",
              "catalogs:write"
            ]
          }
        ],
        "requestBody": {
          "description": "Request object used to created a feed.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogsFeedsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogsFeed"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid feed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidRequest": {
                    "value": {
                      "code": 1,
                      "message": "Invalid request: ..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UnauthorizedAccess": {
                    "value": {
                      "code": 29,
                      "message": "You are not permitted to access that resource."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Business account required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BusinessAccountRequired": {
                    "value": {
                      "code": 654,
                      "message": "You must have a business account to operate as merchant."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "User website required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UserWebsiteRequired": {
                    "value": {
                      "code": 4168,
                      "message": "User does not have a website."
                    }
                  },
                  "UserWebsiteNotVerified": {
                    "value": {
                      "code": 4169,
                      "message": "User does not have a verified website."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unique feed name is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FeedDuplicatedName": {
                    "value": {
                      "code": 4170,
                      "message": "The feed name already exists."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "catalogs"
        ]
      }
    },
    "/catalogs/feeds/{feed_id}": {
      "get": {
        "x-ratelimit-category": "catalogs_read",
        "summary": "Get feed",
        "description": "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/api/v5/#tag/Understanding-catalog-management'>Learn more</a>.</strong>\n\nGet a single feed owned by the \"operating user_account\".",
        "operationId": "feeds/get",
        "security": [
          {
            "pinterest_oauth2": [
              "catalogs:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path_catalogs_feed_id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogsFeed"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid feed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidRequest": {
                    "value": {
                      "code": 1,
                      "message": "'feed_id' value '1511851494501_' must match the pattern: ^\\d+$\"}"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UnauthorizedAccess": {
                    "value": {
                      "code": 29,
                      "message": "You are not permitted to access that resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data feed not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FeedNotFound": {
                    "value": {
                      "code": 4161,
                      "message": "Sorry! We could not find your catalogs feed."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "catalogs"
        ]
      },
      "patch": {
        "x-ratelimit-category": "catalogs_write",
        "summary": "Update feed",
        "description": "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/api/v5/#tag/Understanding-catalog-management'>Learn more</a>.</strong>\n\nUpdate a feed owned by the \"operating user_account\".",
        "operationId": "feeds/update",
        "security": [
          {
            "pinterest_oauth2": [
              "catalogs:read",
              "catalogs:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path_catalogs_feed_id"
          }
        ],
        "requestBody": {
          "description": "Request object used to update a feed.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogsFeedsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogsFeed"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Invalid feed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidRequest": {
                    "value": {
                      "code": 1,
                      "message": "Invalid request: ..."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Account not approved for feed mutations yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "MerchantDisapproved": {
                    "value": {
                      "code": 2625,
                      "message": "Sorry, you cannot perform this action. Account is disapproved."
                    }
                  },
                  "MerchantUnderReview": {
                    "value": {
                      "code": 2625,
                      "message": "Sorry, you cannot perform this action. Account is under review."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data feed not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FeedNotFound": {
                    "value": {
                      "code": 4161,
                      "message": "Sorry! We could not find your catalogs feed."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "catalogs"
        ]
      },
      "delete": {
        "x-ratelimit-category": "catalogs_write",
        "summary": "Delete feed",
        "description": "<strong>This endpoint is currently in beta and not available to all apps. <a href='/docs/api/v5/#tag/Understanding-catalog-management'>Learn more</a>.</strong>\n\nDelete a feed owned by the \"operating user_account\".",
        "operationId": "feeds/delete",
        "security": [
          {
            "pinterest_oauth2": [
              "catalogs:read",
              "catalogs:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/path_catalogs_feed_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Feed deleted successfully."
          },
          "400": {
            "description": "Invalid feed parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
[...]
